/* Global */
body {
    font-size: 150%;
    line-height: 150%;
}

section {
    margin-bottom: 20%;
    width: 95%;
    margin-left: 2.5%;
    min-height: 800px;
    max-height: 1200px;

}

h1 {
    font-size: 40px;
    color: rgb(41, 35, 30);
    width: 100%;
    padding-top: 2.5%;
}

p {
    margin-top: 0px;
}

h5 {
    margin-bottom: 0px;
}

/* Navigation Bar */
#navbar {
    position: fixed;
    top: 40%;
    left: 5px;
    height: 225px;
    width: 50px;
    z-index: 200;
    background: lightgray;
    text-align: center;
}

#menu {
    padding-top: 20px;
    text-align: center;
    width: 100%;
    z-index: 30;
    position: relative;
}
#menu ul {
    margin: 0px;
    padding: 5px;
}
#menu li {
    list-style-type: none;
    display: block;
}
#menu a {
    text-decoration: none;
    letter-spacing: -1px;
    font-size: 20px;
    color: rgb(209, 182, 153);
    font-weight: normal;
}
#menu a:hover {
    color: #FFF;
    position: relative;
    top: -3px; right: -3px;
}

/* Content */
#content {
    position: relative;
    width: 95%;
    margin: 0 auto;
    max-width: 900px;
}

.button-container button img{
    height: 26px;
}

#help-content {
    position: fixed;
    left: 40%;
    top: 100px;
    z-index: 1000;
    background: lightgray;
    border: solid;
}
